{% load static %}
<div class="flex flex-col w-full help-line-wrapper">
    <h2>Help-Line</h2>
    <div class="flex flex-row justify-space-between align-items-center w-full telegram-wrapper">
        <div>
            <i class="ri-notification-fill"></i>
        </div>
        <p>Any kind of problem join here for solution</p>
        <a href="https://t.me/{{ help_line.telegram_url }}" target="_blank">Telegram</a>
    </div>
    <div class="flex flex-col w-full help-line-item-wrapper">
        <div class="flex flex-col w-full help-line-item">
            <h2>Any Kind Of Problem</h2>
            <div class="flex flex-row align-items-center justify-space-between w-full help-line-item-contact">
                <p>Joining Time: {{ help_line.any_kind_of_problem_date }}</p>
                <a href="{{ help_line.any_kind_of_problem_google_meeting_url }}" target="_blank">Join Meeting</a>
            </div>
        </div>
        <div class="flex flex-col w-full help-line-item">
            <h2>Team Leader</h2>
            <div class="flex flex-row align-items-center justify-space-between w-full help-line-item-contact">
                <h4>Name: {{ help_line.team_leader }}</h4>
                <a href="https://wa.me/{{ help_line.team_leader_whatup_number }}" target="_blank">Whatsapp</a>
            </div>
        </div>
        <div class="flex flex-col w-full help-line-item">
            <h2>Trainer</h2>
            <div class="flex flex-row align-items-center justify-space-between w-full help-line-item-contact">
                <h4>Name: {{ help_line.trainer }}</h4>
                <a href="https://wa.me/{{ help_line.trainer_whatup_number }}" target="_blank">Whatsapp</a>
            </div>
        </div>
    </div>
</div>