{% extends "../common/base.html" %}
{% load static %}
{% block title %}My Success E-Learning Platform{% endblock title %}
{% block css_link %}
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static "css/common/header_section.css" %}">
    <link rel="stylesheet" href="{% static "css/home_page/style.css" %}">
{% endblock css_link %}

{% block header_section %}
    {% include "../common/header_section.html" %}
{% endblock header_section %}

{% block main_content %}
    {% include "./banner.html" %}
    {% include "./special_feature.html" %}
{% endblock main_content %}

{% block js_link %}
    <script src="{% static "js/home_page/index.js" %}" defer></script>
{% endblock js_link %}