{% load static %}
<section class="special-feature-section">
    <div class="special-feature-wrapper w-full">
        <div class="common-wrap">
            <div class="special-feature-inner grid">
                {% if special_fuature %}
                    {% for item in special_fuature %}
                        <div class="special_fuature-item flex flex-row justify-space-between w-full">
                            <div class="special_fuature-item-icon flex flex-col">
                                <img src="{{ item.image.url }}" alt="{{  item.title}}">
                            </div>
                            <div class="special_fuature-item-content flex flex-col">
                                <h4>{{ item.title }}</h4>
                                <p>{{ item.short_description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>