<div class="flex flex-col w-full sub-admin-update-password">
    <h2>Update Password</h2>
    <form class="password-change-form flex flex-col" action="{% url 'change_password' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group flex flex-col">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="error">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <div>
            <button class="btn" type="submit">Submit</button>
        </div>
    </form>
</div>