{% extends "../common/base.html" %}
{% load static %}
{% block title %}My Success E-Learning Platform Sub Admin{% endblock title %}
{% block css_link %}
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static "css/sub_admin_profile/style.css" %}">
{% endblock css_link %}
{% block main_content %}
    <section class="sub-admin-section">
        <div class="grid w-full sub-admin-inner">

            <div class="flex flex-col w-full">
                {% include "../common/sub_admin_side_bar.html" %}
            </div>

            <div class="flex flex-col w-full">
                {% include "../common/sub_admin_header.html" %}

                <section class="sub-admin-content">
                    {% if request.resolver_match.url_name == 'all_student' %}
                        {% include "sub_admin_profile/all_student.html" %}
                    {% elif request.resolver_match.url_name == 'sub_admin_profile' %}
                        {% include "sub_admin_profile/profile_updated.html" %}
                    {% elif request.resolver_match.url_name == 'change_password' %}
                        {% include "sub_admin_profile/change_password.html" %}
                    {% endif %}
                </section>

                {% include "../common/sub_admin_footer.html" %}
            </div>
            
        </div>
    </section>
{% endblock main_content %}
