.forgot-password-form-section {
    height: 100vh;
}

.forgot-password-form-section .common-wrap {
    height: 100%;
}

.forgot-password-form-inner {
    display: grid;
    grid-template-columns: repeat(2, 42% 58%);
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
    height: 100%;
}

.content-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
}

.content-inner {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 72%;
    margin: 20px auto;
    height: 100%;
}

.logo-wrap {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.logo-wrap a {
    width: 140px;
    height: 140px;
}

.logo-wrap a img {
    width: 100%;
    height: 100%;
}

.title-wrap {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.title-wrap h2 {
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 400;
}

.banner-wrap {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.banner-wrap img {
    width: 100%;
}


.form-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
}

.form-inner {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    row-gap: 30px;
    width: 50%;
    margin: 0 auto;
    height: 100%;
}

.form-top-bar {
    display: flex;
    flex-flow: column wrap;
    row-gap: 10px;
    width: 100%;
}

.form-top-bar h2 {
    font-size: 1.6rem;
    font-weight: 500;
}

.form-top-bar p {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    column-gap: 5px;
    font-size: 1rem;
}

.form {
    display: flex;
    flex-flow: column wrap;
    row-gap: 10px;
    width: 100%;
}

.form div {
    display: flex;
    flex-flow: column wrap;
    row-gap: 10px;
    width: 100%;
}

.form div label {
    display: flex;
    flex-flow: column wrap;
    font-size: 1rem;
    font-weight: 500;
}

.form div input {
    padding: 12px 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--body-font-color);
    font-family: var(--body-font-family);
}

.form div input::placeholder {
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--body-font-family);
}

.form div input:focus {
    border-color: #86b7fe;
}

.reset-password-btn {
    border: 2px solid var(--theme-color);
}

.reset-password-btn:hover {
    border: 2px solid var(--theme-color);
}

.back-login {
    font-size: 1rem;
    font-weight: 500;
    color: var(--theme-color);
    text-decoration: underline;
}

.password_reset_done-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.password_reset_done-inner {
    width: 25%;
    padding: 80px 50px;
    background-color: #86b7fe;
    border-radius: 10px;
}

.password_reset_done-inner p {
    font-size: 1rem;
    font-weight: 500;
}

.password-reset-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.password-reset-inner {
    width: 30%;
    padding: 80px 50px;
    border-radius: 10px;
}

.reset-form {
    display: flex;
    flex-flow: column wrap;
    row-gap: 15px;
    width: 100%;
}

.reset-form div {
    display: flex;
    flex-flow: column wrap;
    row-gap: 10px;
    width: 100%;
}

.reset-form div label {
    display: flex;
    flex-flow: column wrap;
    font-size: 1rem;
    font-weight: 500;
}

.reset-form div input {
    padding: 12px 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--body-font-color);
    font-family: var(--body-font-family);
}

.reset-form div input::placeholder {
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--body-font-family);
}

.reset-form div input:focus {
    border-color: #86b7fe;
}

.reset-password-btn {
    border: 2px solid var(--theme-color);
}

.reset-password-btn:hover {
    border: 2px solid var(--theme-color);
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
    .forgot-password-form-inner {
        grid-template-columns: repeat(1, 1fr);
    }
    .form-inner {
        width: 100%;
    }
    .form-wrapper {
        padding: 40px 0;
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 499px) {
    .forgot-password-form-inner {
        grid-template-columns: repeat(1, 1fr);
    }
    .form-inner {
        width: 100%;
    }
    .form-wrapper {
        padding: 40px 0;
        width: 90%;
        margin: 0 auto;
    }
}
