.register-section {
    height: 100vh;
}
.register-inner {
    grid-template-columns: repeat(2, 35% 65%);
    width: 100%;
    height: 100%;
}
.side-bar-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px;
}