.nav-bar-wrap ul {
    column-gap: 30px;
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
    .humbagar-menu {
        border: none;
        outline: none;
        background-color: transparent;
    }

    .humbagar-menu i {
        color: var(--white-color);
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 499px) {
    .humbagar-menu {
        border: none;
        outline: none;
        background-color: transparent;
    }

    .humbagar-menu i {
        color: var(--white-color);
        font-size: 1.8rem;
    }
}