{% extends "../common/base.html" %}
{% load static %}
{% block title %}Home Work{% endblock title %}

{% block css_link %}
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static "css/common/header_section.css" %}">
    <link rel="stylesheet" href="{% static "css/home_work/style.css" %}">
    <link rel="stylesheet" href="{% static "css/common/footer_section.css" %}">
{% endblock css_link %}

{% block header_section %}
    {% include "../common/header_section.html" %}
{% endblock header_section %}

{% block main_content %}
    <section class="my-learning-section">
        <div class="common-wrap">
            <div class="my-learning-inner">
                <h2>MY Home Work</h2>
            </div>
        </div>
    </section>
{% endblock main_content %}

{% block footer_section %}
    {% include "../common/footer_section.html" %}
{% endblock footer_section %}