{% extends "../common/base.html" %}
{% load static %}
{% block title %}My Success E-Learning Platform About Us{% endblock title %}
{% block css_link %}
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static "css/common/header_section.css" %}">
    <link rel="stylesheet" href="{% static "css/about_page/style.css" %}">
    <link rel="stylesheet" href="{% static "css/common/footer_section.css" %}">
{% endblock css_link %}

{% block header_section %}
    {% include "../common/header_section.html" %}
{% endblock header_section %}

{% block main_content %}
    <section class="about-section">

        <div class="about-section-top-bar">
            <div class="common-wrap">
                <div class="about-section-top-bar-inner flex flex-col justify-content-center align-items-center">
                    <h2>About Us</h2>
                    <div class="about-section-top-bar-url flex flex-row">
                        <a href="{% url "home_page" %}">Home</a>
                        <span>/</span>
                        <i>About</i>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-company">
            <div class="common-wrap">
                <div class="about-company-inner flex flex-col">
                    <div class="about-company-title flex flex-col align-items-center justify-content-center">
                        <h2>Mere Tranquil Existence, That I Neglect My Talents Should</h2>
                        <p>Possession Of My Entire Soul, Like These Sweet Mornings Of Spring Which I Enjoy With My Whole Heart. I Am Alone, And Charm Of Existence In This Spot, Which Was Created For The Bliss Of Souls Like Mine. I Am So Happy, My Dear Friend, So Absorbed In The Exquisite Sense Of Mere Tranquil Existence</p>
                    </div>
                    <div class="about-company-thumble-wrapper grid">
                        <div class="about-company-big-thumble flex flex-col">
                            <img src="{% static "images/about-page-defult-thumb.jpg" %}" alt="about-page-defult-thumb" loading="lazy" decoding="async">
                        </div>
                        <div class="about-company-small-thumble flex flex-col justify-space-between">
                            <div class="flex flex-col">
                                <img src="{% static "images/about-page-defult-thumb.jpg" %}" alt="about-page-defult-thumb" loading="lazy" decoding="async">
                            </div>
                            <div class="flex flex-col">
                                <img src="{% static "images/about-page-defult-thumb.jpg" %}" aly="about-page-defult-thumb" loading="lazy" decoding="async">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="out-history">
            <div class="common-wrap">
                <div class="our-history-inner flex flex-col">

                    <div class="out-history-title flex flex-col justify-content-center align-items-center">
                        <h2>Our History</h2>
                        <p>Possession Of My Entire Soul, Like These Sweet Mornings Of Spring Which I Enjoy With My Whole Heart. I Am Alone, And Charm Of Existence In This Spot Which</p>
                    </div>

                    <div class="history-item-row-wrap grid">
                        <div class="history-item flex flex-col">
                            <div class="history-year flex flex-col align-items-center justify-content-center">
                                <h6>1998</h6>
                            </div>
                            <div class="history-item-content flex flex-col">
                                <h4>Mere tranquil existence</h4>
                                <p>Possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart like these sweet mornings of spring which I enjoy with my whole heart </p>
                            </div>
                        </div>
                        <div class="history-item">
                            <div class="history-year flex flex-col align-items-center justify-content-center">
                                <h6>1998</h6>
                            </div>
                            <div class="history-item-content flex flex-col">
                                <h4>Mere tranquil existence</h4>
                                <p>Possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart like these sweet mornings of spring which I enjoy with my whole heart </p>
                            </div>
                        </div>
                        <div class="history-item">
                            <div class="history-year flex flex-col align-items-center justify-content-center">
                                <h6>1998</h6>
                            </div>
                            <div class="history-item-content flex flex-col">
                                <h4>Mere tranquil existence</h4>
                                <p>Possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart like these sweet mornings of spring which I enjoy with my whole heart </p>
                            </div>
                        </div>
                        <div class="history-item">
                            <div class="history-year flex flex-col align-items-center justify-content-center">
                                <h6>1998</h6>
                            </div>
                            <div class="history-item-content flex flex-col">
                                <h4>Mere tranquil existence</h4>
                                <p>Possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart like these sweet mornings of spring which I enjoy with my whole heart </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="find-all-course">
            <div class="common-wrap">
                <div class="find-all-course-inner grid justify-content-center align-items-center">
                    <div class="find-all-course-thumbel flex flex-col">
                        <img src="{% static "images/about-page-defult-thumb.jpg" %}" alt="about-page-defult-thumb" loading="lazy" decoding="async">
                    </div>
                    <div class="find-all-course-content flex flex-col">
                        <h2>Upgrade Your Skills Today For Upgrading Your Life.</h2>
                        <p>Noticed by me when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence stalks, and grow familiar with the countless</p>
                        <a class="btn" href="{% url "courese_page" %}">Find Your Courese</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock main_content %}

{% block footer_section %}
    {% include "../common/footer_section.html" %}
{% endblock footer_section %}

{% block js_link %}
    <script src="{% static "js/about_page/index.js" %}" defer></script>
{% endblock js_link %}