{% extends "../common/base.html" %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block css_link %}
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static "css/common/header.css" %}">
    <link rel="stylesheet" href="{% static "css/user_page/style.css" %}">
    <link rel="stylesheet" href="{% static "css/common/footer.css" %}">
{% endblock css_link %}

{% block header_section %}
    {% include "../common/header.html" %}
{% endblock header_section %}

{% block main_content %}

<section class="user-section">
    <div class="common-wrap">
        <div class="user-section-top-bar flex flex-col align-items-center justify-content-center">
            <h2>Hey, {{ user.first_name }} {{ user.last_name }}</h2>
            <div class="flex flex-row align-items-center">
                <a href="{% url 'home_page' %}">Home</a>
                <span>/</span>
                <i>{{ new_path }}</i>
            </div>
        </div>        
        <div class="grid user-section-main">
            {% include "./side_bar.html" %}
            <div class="user-main-content flex flex-col w-full">
                {% if request.resolver_match.url_name == 'user_profile' %}
                    {% include "./profile.html" %}
                {% elif request.resolver_match.url_name == 'user_referral' %}
                    {% include "./referral.html" %}
                {% elif request.resolver_match.url_name == 'user_passbook' %}
                    {% include "./passbook.html" %}
                {% elif request.resolver_match.url_name == 'user_withdrawal' %}
                    {% include "./withdrawal.html" %}
                {% elif request.resolver_match.url_name == 'user_change_password' %}
                    {% include "./change_password.html" %}
                {% elif request.resolver_match.url_name == 'user_address' %}
                    {% include "./address.html" %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock main_content %}

{% block footer_section %}
    {% include "../common/footer.html" %}
{% endblock footer_section %}

{% block js_link %}
    <script src="{% static "js/common/global.js" %}" defer></script>
    <script src="{% static "js/user_page/index.js" %}" defer></script>
{% endblock js_link %}