{% load static %}
<div class="flex flex-col w-full">
    <h2>Profile</h2>
    <form class="user-profile-info-change-form flex flex-col" method="POST" enctype="multipart/form-data" action="{% url 'user_profile' %}">
        {% csrf_token %}
        <div class="flex flex-col w-full">
            {% if form.instance.image %}
                <img src="{{ form.instance.image.url }}" alt="user" style="max-width: 150px; max-height: 150px; border-radius: 100%; object-fit: cover;" loading="lazy" decoding="async">
            {% else %}
                <img src="{% static 'images/default-avatar.png' %}" alt="default-user" style="max-width: 150px; max-height: 150px; border-radius: 100%; object-fit: cover;" loading="lazy" decoding="async">
            {% endif %}
        </div>
        {{ form.as_p }}
        <div>
            <button class="btn" type="submit">Save</button>
        </div>
    </form>
    <div class="flex flex-col w-full copy-link-url">
        <p>https://mysuccesse-learning.com/account/user/register/{{ user.user_id }}</p>
        <div>
            <button class="btn" type="button">Copy</button>
        </div>
    </div>
</div>