.header-section {
    padding: 20px 0;
    background: var(--gradient-banner-bg);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.contact-section {
    background-color: var(--page-bg);

}

.contact-top-bar {
    padding: 100px 0;
    background: var(--gradient-banner-bg);
}

.contact-top-bar-inner {
    column-gap: 10px;
}

.contact-top-bar-inner a {
    color: var(--disable-color);
    transition: all ease 0.3s;
}

.contact-top-bar-inner a:hover {
    color: var(--white-color);
}

.contact-top-bar-inner div {
    column-gap: 10px;
}

.contact-top-bar-inner div span {
    color: var(--white-color);
}

.contact-top-bar-inner div i {
    color: var(--white-color);
    text-decoration: underline;
}

.contact-wrapper {
    grid-template-columns: repeat(2, 40% 60%);
    background-color: var(--white-color);
    border-radius: 5px;
}

.contact-inner {
    row-gap: 100px;
    margin-top: 100px;
    padding-bottom: 100px;
}

.contact-info {
    padding: 80px 50px;
}

.contact-info h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

.get-touch-wrapper {
    margin-top: 20px;
    row-gap: 20px;
}

.get-touch-inner {
    column-gap: 20px;
}

.get-touch-icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.get-touch-icon.location {
    background-color: #F2EEFF;
}

.get-touch-icon.location i {
    color: #8462FF;
}

.get-touch-icon.email {
    background-color: #FFEFEC;
}

.get-touch-icon.email i {
    color: #FC8068;
}

.get-touch-icon.phone {
    background-color: #E8F1E9;
}

.get-touch-icon.phone i {
    color: #7CBB2C;
}

.get-touch-icon i {
    font-size: 20px;
}

.get-touch-link a {
    color: var(--black-color);
}

.get-touch-link span {
    color: var(--black-color);
}

.help-line {
    padding: 80px 50px;
    border-left: 1px solid var(--disable-color);
}

.help-line h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

.help-line-form {
    row-gap: 10px;
    margin-top: 20px;
}

.help-line-form div {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.help-line-form div label {
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--body-font-family);
}

.help-line-form div input {
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--body-font-family);
    background-color: var(--white-color);
    color: var(--gray-color);
    border: 1px solid var(--disable-color);
}

.help-line-form div textarea {
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--body-font-family);
    background-color: var(--white-color);
    color: var(--gray-color);
    border: 1px solid var(--disable-color);
}