{% load static %}
<div class="flex flex-col w-full">
    <h2>Profile</h2>
    <form class="user-profile-info-change-form flex flex-col" method="POST" action="{% url 'user_profile' %}">
        {% csrf_token %}
        <div class="flex flex-col w-full">
            {% if form.instance.image %}
                <img src="{{ form.instance.image.url }}" alt="Profile Image" style="max-width: 150px; max-height: 150px;">
            {% else %}
                <img src="{% static 'images/default-avatar.png' %}" alt="Default Profile Image" style="max-width: 150px; max-height: 150px;">
            {% endif %}
        </div>
        {{ form.as_div }}
        <div>
            <button class="btn" type="submit">Save</button>
        </div>
    </form>
</div>