<div class="user-referral-wrapper flex flex-col w-full">
    <div class="user-referral-code flex flex-col w-full">
        <h4>My Referral Code</h4>
        <b>{{ user.user_id }}</b>
    </div>

    <div class="user-referral-list flex flex-col w-full">
        <h3>My Referrals</h3>
        <table class="flex flex-col w-full">
            <thead class="flex flex-col w-full">
                <tr class="grid">
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Number</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody class="flex flex-col w-full">
                {% if referred_users %}
                    {% for referred_user in referred_users %}
                        <tr class="grid">
                            <td>{{ referred_user.user_id }}</td>
                            <td>{{ referred_user.first_name }} {{ referred_user.last_name }}</td>
                            <td>{{ referred_user.email }}</td>
                            <td>{{ referred_user.number }}</td>
                            <td>{{ referred_user.date_joined }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">No referred users found.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links flex flex-col">

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_previous %}
                    <div class="flex flex-row withdrawals-has-previous">
                        <a class="btn" href="?page={{ page_obj.previous_page_number }}">Previous &laquo;</a>
                    </div>
                {% endif %}

                {% if page_obj.has_next %}
                    <div class="flex flex-row withdrawals-has-next">
                        <a class="btn" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
                    </div>
                {% endif %}
            </span>
        </div>
        
    </div>
</div>
