{% extends "../../common/base.html" %}
{% load static %}
{% block title %}Password Reset{% endblock title %}
{% block css_link %}
  <link rel="stylesheet" href="{% static "css/auth/style.css" %}">
{% endblock css_link %}

{% block main_content %}
  <section>
    <div class="grid section-inner">
      {% include "../content.html" %}
      <div class="flex flex-col justify-content-center w-full form-wrapper">
        <div class="flex flex-col w-full form-title">
          <h2>Enter New Password</h2>
        </div>
        <form class="flex flex-col" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <div>
            <button class="btn" type="submit">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock main_content %}
