{% extends "../../common/base.html" %}
{% load static %}
{% block title %}Forgot Password{% endblock title %}
{% block css_link %}
    <link rel="stylesheet" href="{% static "css/auth/style.css" %}">
{% endblock css_link %}
{% block main_content %}
    <section>
        <div class="grid section-inner">
            {% include "../content.html" %}
            <div class="flex flex-col justify-content-center w-full form-wrapper">
                <div class="flex flex-col w-full form-title">
                    <h2>Forgot Password?</h2>
                    <p>Enter the email address you used when you joined and we’ll send you instructions to reset your password. For security reasons, we do NOT store your password. So rest assured that we will never send your password via email.</p>
                </div>
                <form class="flex flex-col" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <a class="back-to-login" href="{% url "user_login" %}">Back to login?</a>
                    </div>
                    <div>
                        <button class="btn" type="submit">Send Reset Link</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock main_content %}