.header-section {
    padding: 20px 0;
    background: var(--gradient-banner-bg);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.blog-section {
    display: block;
    background-color: var(--page-bg);
}

.blog-section-top-bar {
    padding: 50px 0;
    background: var(--gradient-banner-bg);
}

.blog-section-top-bar-inner {
    row-gap: 10px;
}

.blog-section-top-bar-inner h2 {
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.blog-section-top-bar-inner div {
    column-gap: 10px;
}

.blog-section-top-bar-inner div a {
    color: var(--disable-color);
    transition: 0.3s ease;
}

.blog-section-top-bar-inner div a:hover {
    color: var(--white-color);
}

.blog-section-top-bar-inner div span {
    color: var(--white-color);
}

.blog-section-top-bar-inner div i {
    text-decoration: underline;
    color: var(--white-color);
}

.blog-section-inner {
    grid-template-columns: repeat(2, 70% 30%);
}

.all-blog-wrapper {
    padding: 50px 0;
}

.side-bar-wrapper {
    padding: 50px 0;
    margin-left: 10%;
}

.side-bar-inner {
    padding: 20px 30px;
    background-color: var(--white-color);
    border-radius: 5px;
}

.all-blog-inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.blog-item {
    padding: 20px 10px;
    background-color: var(--white-color);
    box-shadow: 0 6px 21px rgba(21, 3, 89, 0.08);
    border-radius: 5px;
}

.blog-image {
    min-height: 300px;
    height: 300px;
}

.blog-image img {
    object-fit: cover;
    min-height: 100%;
    height: 100%;
    border-radius: 5px;
}

.blog-title {
    padding: 20px 0 10px 0;
}

.blog-title h4 {
    text-align: center;
}

.blog-title h4 a {
    color: var(--black-color);
    font-weight: 500;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.pagination {
    margin-top: 20px;
    row-gap: 20px;
}

.pagination-button {
    column-gap: 20px;
}

.pagination-button .disabled {
    color: #ccc;
    pointer-events: none;
    cursor: default;
}

.form-wrapper {
    position: relative;
}

.form-wrapper div {
    position: relative;
}

.form-wrapper input {
    padding: 10px 20px;
    border: 1px solid var(--disable-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--body-font-family);
}

.form-wrapper input:focus {
    border: 1px solid var(--theme-color);
}


.search-btn {
    position: absolute;
    top: 8px;
    left: auto;
    right: 0;
    background-color: transparent;
    border: none;
    outline: none;
}

.search-btn i {
    font-size: 1.5rem;
    color: var(--disable-color);
}

.tag-wrapper h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

.categorie-wrapper {
    margin-top: 20px;
}

.categorie-wrapper h4 {
    font-size: 1.2rem;
    font-weight: 600;
}
.categorie-item-wrap li {
    list-style: disc;
    column-gap: 5px;
}
.categorie-item-wrap li a {
    color: var(--body-font-color);
}

.categorie-wrapper div {
    margin-top: 20px;
}

.categorie-item-wrap {
    row-gap: 10px;
}

.tag-wrapper {
    margin-top: 20px;
}

.tag-wrapper div {
    gap: 10px;
    margin-top: 20px;
}

.tag-item a {
    background-color: #EEEEEE;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--body-font-color);
    transition: all 0.3s ease;
}

.tag-item a:hover {
    background-color: var(--theme-color);
    color: var(--white-color);
}