{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="#">

    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static "css/common/global.css" %}">
    <link rel="stylesheet" href="{% static "css/common/messages.css" %}">

    {% block css_link %}
    {% endblock css_link %}

</head>
<body>

    {% block message %}
        {% include "./messages.html" %}
    {% endblock message %}

    {% block header_section %}
    {% endblock header_section %}

    <main>
        {% block main_content %}
        {% endblock main_content %}
    </main>

    {% block footer_section %}
    {% endblock footer_section %}

    <script src="{% static "js/common/global.js" %}" defer></script>
    <script src="{% static "js/common/messages.js" %}" defer></script>

    {% block js_link %}
    {% endblock js_link %}
    
</body>
</html>