<header class="header-section">
    <div class="common-wrap">
        <div class="flex flex-row align-items-center justify-space-between w-full">
            <a class="logo" href="{% url "home_page" %}">
                <img src="{{ logo.image.url }}" alt="logo" loading="lazy" decoding="async">
            </a>
            <nav class="flex flex-col flex-wrap nav-bar-wrap">
                <button class="close-menu mobi" type="button">
                    <i class="ri-close-fill"></i>
                </button>
                <ul class="flex flex-row align-items-center">
                    {% if user.is_authenticated %}
                        <li>
                            <a class="btn" href="{% url "my_learning" %}">My Learning</a>
                        </li>
                        <li>
                            <a class="btn" href="{% url "home_work" %}">Home Work</a>
                        </li>
                        <li>
                            <a class="btn" href="{% url "blog_page" %}">Blogs</a>
                        </li>
                        <li>
                            <a class="btn" href="{% url "user_profile" %}">Profile Settings</a>
                        </li>
                        <li>
                            <a class="btn" href="{% url "user_logout" %}">Log Out</a>
                        </li>
                    {% else %}
                    <li>
                        <a class="btn" href="{% url "blog_page" %}">Blogs</a>
                    </li>
                    <li>
                        <a class="btn" href="{% url "user_login" %}">Sign In</a>
                    </li>
                    <li>
                        <a class="btn" href="{% url "sub_admin_login" %}">Subadmin Login</a>
                    </li>
                    <li>
                        <a class="btn" href="/admin">Admin Login</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <button class="mobi humbagar-menu" type="button">
                <i class="ri-menu-line"></i>
            </button>
        </div>
    </div>
</header>