<header class="header-section">
    <div class="common-wrap">
        <div class="flex flex-row align-items-center justify-space-between w-full">
            <a class="logo" href="{% url "home_page" %}">
                <img src="{{ logo.image.url }}" alt="logo" loading="lazy" decoding="async">
            </a>
            <nav class="flex flex-col flex-wrap nav-bar-wrap">
                <ul class="flex flex-row align-items-center">
                    {% if user.is_authenticated %}
                        <li>
                            <a class="btn">My Learning</a>
                        </li>
                        <li>
                            <a class="btn">Home Work</a>
                        </li>
                        <li>
                            <a class="btn">Blogs</a>
                        </li>
                        <li>
                            <a class="btn">Profile Settings</a>
                        </li>
                        <li>
                            <a class="btn">Log Out</a>
                        </li>
                    {% else %}
                    <li>
                        <a>Blogs</a>
                    </li>
                    <li>
                        <a>Sign In</a>
                    </li>
                    <li>
                        <a>Subadmin Login</a>
                    </li>
                    <li>
                        <a>Admin Login</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>