<div class="sub-admin-side-bar-wrapper flex flex-col w-full">
    <div class="flex flex-col w-full">
        <a class="logo" href="{% url "sub_admin" %}">
            <img src="{{ logo.image.url }}">
        </a>
    </div>
    <div class="sub-menu-item-wrapper flex flex-col w-full">
        <div class="sub-menu-item flex flex-row align-items-center w-full">
            <i class="ri-graduation-cap-fill"></i>
            <h4>Manage Course</h4>
        </div>
        <div class="sub-menu-item flex flex-row align-items-center w-full">
            <i class="ri-graduation-cap-fill"></i>
            <h4>Manage Student</h4>
        </div>
        <div class="sub-menu-item flex flex-row align-items-center w-full">
            <i class="ri-graduation-cap-fill"></i>
            <h4>Account Settings</h4>
        </div>
        <div class="sub-menu-item flex flex-row align-items-center w-full">
            <i class="ri-graduation-cap-fill"></i>
            <h4>Extras</h4>
        </div>
    </div>
</div>