.header-section {
    padding: 20px 0;
    background: var(--gradient-banner-bg);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.about-section-top-bar {
    display: block;
    padding: 100px 0;
    background: var(--gradient-banner-bg);
}

.about-section-top-bar-inner {
    -moz-row-gap: 10px;
    -ms-row-gap: 10px;
    -o-row-gap: 10px;
    row-gap: 10px;
}

.about-section-top-bar-inner h2 {
    color: var(--white-color);
    font-size: 2.5rem;
    font-weight: 500;
}

.about-section-top-bar-url {
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    -ms-column-gap: 10px;
    -o-column-gap: 10px;
    column-gap: 10px;
}

.about-section-top-bar-url a {
    /* color: var(----disable-color); */
    color: #B5B4BD;
    transition: all ease 0.3s;
}

.about-section-top-bar-url a:hover {
    color: var(--white-color);
}

.about-section-top-bar-url span {
    color: var(--white-color);
}

.about-section-top-bar-url i {
    color: var(--white-color);
    text-decoration: underline;
}


.about-company {
    display: block;
    padding: 80px 0;
}

.about-company-inner {
    width: 100%;
    -moz-row-gap: 50px;
    -ms-row-gap: 50px;
    -o-row-gap: 50px;
    row-gap: 50px;
}

.about-company-title {
    max-width: 75%;
    margin: 0 auto;
    width: 100%;
    -moz-row-gap: 20px;
    -ms-row-gap: 20px;
    -o-row-gap: 20px;
    row-gap: 20px;
}

.about-company-title h2 {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    width: 100%;
}

.about-company-title p {
    text-align: center;
    line-height: 1.8;
}

.about-company-thumble-wrapper {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    max-height: 650px;
}

.about-company-big-thumble {
    width: 100%;
    height: 650px;
    max-height: 650px;
}

.about-company-big-thumble img {
    border-radius: 5px;
    height: 100%;
    max-height: 650px;
    object-fit: cover;
}

.about-company-small-thumble {
    -moz-row-gap: 30px;
    -ms-row-gap: 30px;
    -o-row-gap: 30px;
    row-gap: 30px;
    width: 100%;
    height: 650px;
    max-height: 650px;
}

.about-company-small-thumble div {
    width: 100%;
    height: 46%;
}

.about-company-small-thumble img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.out-history {
    display: block;
    padding: 100px 0;
    background-color: var(--page-bg);
}

.out-history-title {
    -moz-row-gap: 10px;
    -ms-row-gap: 10px;
    -o-row-gap: 10px;
    row-gap: 10px;
    max-width: 65%;
    margin: 0 auto;
    width: 100%;
}

.our-history-inner {
    -moz-row-gap: 50px;
    -ms-row-gap: 50px;
    -o-row-gap: 50px;
    row-gap: 50px;
    width: 100%;
}

.out-history-title h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

.out-history-title p {
    text-align: center;
    line-height: 1.8;
}

.history-item-row-wrap {
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    width: 100%;
    border-top: 1px solid #333145;
}

.history-item {
    position: relative;
    width: 100%;
}

.history-year {
    position: relative;
    padding: 20px 0;
    margin-top: 20px;
}

.history-year:after {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: #333145;
    border-radius: 50%;
    top: -23px;
    left: 49.3%;
}

.history-year:before {
    content: "";
    position: absolute;
    height: 25px;
    width: 1px;
    background-color: #333145;
    top: -20px;
    left: 50%;
}

.history-year h6 {
    font-size: 1rem;
    font-weight: 600;
}

.history-item-content {
    position: relative;
    padding: 30px;
    row-gap: 10px;
    background-color: var(--white-color);
    box-shadow: 0 6px 21px rgba(21, 3, 89, 0.08);
    border-radius: 5px;
}

.history-item-content h4 {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.history-item-content p {
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.find-all-course {
    display: block;
    padding: 50px;
    width: 100%;
}

.find-all-course-inner {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    width: 100%;
}

.find-all-course-thumbel {
    width: 100%;
}

.find-all-course-thumbel img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.find-all-course-content {
    -moz-row-gap: 20px;
    -ms-row-gap: 20px;
    -o-row-gap: 20px;
    row-gap: 20px;
    width: 100%;
}
.find-all-course-content h2 {
    font-size: 2.5rem;
    font-weight: 500;
    max-width: 70%;
}
.find-all-course-content a {
    max-width: 175px;
    text-align: center;
}
.find-all-course-content a:hover {
    border: 2px solid var(--theme-color);
}

@media only screen and (max-width: 499px) {
    .about-company-thumble-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .history-item-row-wrap {
        grid-template-columns: repeat(1, 1fr);
    }
    .find-all-course-inner {
        grid-template-columns: repeat(1, 1fr);
    }
}