{% extends "../common/base.html" %}
{% load static %}
{% block title %}My Success E-Learning Platform Contact Us{% endblock title %}
{% block css_link %}
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static "css/contact_page/style.css" %}">
{% endblock css_link %}
{% block main_content %}
    <section class="contact-section">
        <div class="contact-top-bar flex flex-col align-items-center justify-content-center w-full">
            <div class="contact-top-bar-inner flex flex-row align-items-center">
                <a href="{% url "home_page" %}">Home</a>
                <div class="flex flex-row align-items-center">
                    <span>/</span>
                    <i>Contact Us</i>
                </div>
            </div>
        </div>
        <div class="common-wrap">
            <div class="contact-inner flex flex-col w-full">

                <div class="contact-wrapper grid w-full">

                    <div class="contact-info flex flex-col w-full">
                        <h4>Get in Touch</h4>
                        <div class="get-touch-wrapper flex flex-col w-full">
                            <div class="get-touch-inner flex flex-row align-items-center">
                                <div class="get-touch-icon location flex flex-col align-items-center justify-content-center">
                                    <i class="ri-map-pin-line"></i>
                                </div>
                                <div class="get-touch-link">
                                    <span>{{ contact_info.location }}</span>
                                </div>
                            </div>
                            <div class="get-touch-inner flex flex-row align-items-center">
                                <div class="get-touch-icon email flex flex-col align-items-center justify-content-center">
                                    <i class="ri-mail-add-line"></i>
                                </div>
                                <div class="get-touch-link">
                                    <a href="mailto:{{ contact_info.email }}">{{ contact_info.email }}</a>
                                </div>
                            </div>
                            <div class="get-touch-inner flex flex-row align-items-center">
                                <div class="get-touch-icon phone flex flex-col align-items-center justify-content-center">
                                    <i class="ri-phone-line"></i>
                                </div>
                                <div class="get-touch-link flex flex-col">
                                    <a href="tel:{{ contact_info.phone }}">{{ contact_info.phone }}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="help-line flex flex-col w-full">
                        <h4>Help-line</h4>
                        <form class="help-line-form flex flex-col w-full" action="{% url 'contact_page' %}" method="POST">
                            {% csrf_token %}
                            {{ form.as_div }} 
                            <button type="submit" class="btn">Submit</button>
                        </form>
                    </div>
                </div>

                <div class="google-map flex flex-col w-full">
                    {% if contact_info and contact_info.google_map_url %}
                        <iframe src="{{ contact_info.google_map_url }}" width="100%" height="500" style="border:0; border-radius: 10px;" allowfullscreen="" loading="lazy"></iframe>
                    {% else %}
                        <p>No map available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </scrion>
{% endblock main_content %}

{% block js_link %}
    <script src="{% static "js/contact_page/index.js" %}" defer></script>
{% endblock js_link %}