<div class="side-bar-wrapper">
    <div class="side-bar-inner flex flex-col w-full">
        <form class="form-wrapper flex flex-col w-full" action="{% url 'blog_page' %}" method="GET">
            <input type="search" name="search" id="search" placeholder="Search..." />
            <button type="submit" class="search-btn">
                <i class="ri-search-line"></i>
            </button>
        </form>

        <div class="categorie-wrapper flex flex-col w-full">
            <h4>Categories</h4>
            <div class="categorie-item-wrap flex flex-col w-full">
                {% for categorie in all_categories %}
                <li class="flex flex-row align-items-center">
                    <a href="{% url 'blog_categorie' id=categorie.id %}">{{ categorie.name }} ({{ categorie.blogmodel_set.count }})</a>
                </li>
                {% endfor %}
            </div>
        </div>

        <div class="tag-wrapper flex flex-col w-full">
            <h4>Tags</h4>
            <div class="flex flex-row align-items-center w-full">
                {% for tag in all_tags %}
                <li class="tag-item">
                    <a href="{% url 'blog_tag' id=tag.id %}">{{ tag.name }}</a>
                </li>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
