.footer-section {
    padding: 50px 0;
    background: var(--footer-gradient-bg);
    background-blend-mode: overlay, normal, overlay, color-burn, screen, overlay, difference, difference, normal;
    color: var(--white-color);
}

.footer-inner {
    row-gap: 50px;
}

.footer-tor-inner {
    grid-template-columns: repeat(4, 35% 18% 18% 35%);
    gap: 50px;
}

.footer-logo-wrapper {
    row-gap: 20px;
}

.footer-icon-wrapper {
    column-gap: 10px;
}

.footer-logo-wrapper p {
    max-width: 80%;
    color: var(--white-color);
}

.footer-bottom-inner p {
    color: var(--white-color);
}

.footer-icon-wrapper img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
}

.footer-bottom-link ul {
    column-gap: 10px;
}

.footer-bottom-link ul li a:hover {
    transition: all 0.3s ease;
    text-decoration: underline;
}

.conpany-wrapper h4 {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--white-color);
}

.support-wrapper h4 {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--white-color);
}

.contact_info_wrapper h4 {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--white-color);
}

.contact_info_item {
    margin-top: 20px;
    row-gap: 20px;
}

.contact_info_item div {
    column-gap: 10px;
}

.contact_info_item div i {
    font-size: 1.2rem;
    color: var(--white-color);
}

.contact_info_item div span {
    font-weight: 400;
    color: var(--white-color);
}

.contact_info_item div a {
    font-weight: 400;
    color: var(--white-color);
}

.support-wrapper-item ul {
    margin-top: 20px;
    row-gap: 20px;
}

.support-wrapper-item ul li a {
    font-weight: 400;
    color: var(--white-color);
    transition: all 0.3s ease;
}

.support-wrapper-item ul li a:hover {
    text-decoration: underline;
}

.conpany-wrapper-item ul {
    margin-top: 20px;
    row-gap: 20px;
}

.conpany-wrapper-item ul li a {
    font-weight: 400;
    color: var(--white-color);
    transition: all 0.3s ease;
}

.conpany-wrapper-item ul li a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 500px) and (max-width: 767px) {}

@media only screen and (max-width: 499px) {
    .footer-tor-inner {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .footer-bottom-link ul {
        flex-flow: column wrap;
        column-gap: 0;
        row-gap: 10px;
    }

    .footer-bottom-wrapper p {
        text-align: center;
    }

    .footer-bottom-inner {
        row-gap: 20px;
        justify-content: center;
    }
}