{% extends "../../common/base.html" %}
{% load static %}
{% block title %}My Success E-Learning Platform Register Form{% endblock title %}
{% block css_link %}
    <link rel="stylesheet" href="{% static "css/account/user_register.css" %}">
{% endblock css_link %}
{% block main_content %}
    <section class="register-section">
        <div class="register-inner grid">
            {% include "./side_bar.html" %}
            {% include "./form.html" %}
        </div>
    </section>
{% endblock main_content %}
{% block js_link %}
    <script src="{% static "js/account/user_register.js" %}" defer></script>
{% endblock js_link %}