{% load static %}
<div class="side-bar-wrapper flex flex-row justify-space-between bg-style" style="background-image: url('{% static "images/account-bg.png" %}');">
    <a class="logo" href="{% url 'home_page' %}">
        <img src="{{ side_bar.logo.url }}" alt="Site Logo" loading="lazy" decoding="async" />
    </a>
    <div class="title">
        <h2>{{ side_bar.title }}</h2>
    </div>
    <div class="banner">
        <img src="{{ side_bar.banner.url }}" alt="Promotional Banner" loading="lazy" decoding="async">
    </div>
</div>
