{% load static %}
<div class="form-wrapper flex flex-col justify-content-center">
    <div class="form-top-bar flex flex-col">
        <h2>SUB ADMIN LOGIN</h2>
    </div>
    <form class="form flex flex-row justify-space-between" action="{% url "sub_admin_login" %}" method="POST" autocomplete="off" novalidate>
        {% csrf_token %}
        {{ form.as_div }}
        <div>
            <a class="forgot-password" href="#">Forgot Password</a>
        </div>
        <div>
            <button class="btn" type="submit">Sign In</button>
        </div>
    </form>
</div>