.sub-admin-section {
    height: 100vh;
}

.sub-admin-inner {
    grid-template-columns: repeat(2, 15% 85%);
    height: 100%;
}

.sub-admin-side-bar-wrapper {
    background: #000080;
    height: 100%;
    padding: 20px 20px;
}

.sub-admin-content {
    height: 75vh;
    overflow-x: scroll;
    overflow-x: hidden;
}

.sub-menu-item {
    column-gap: 10px;
    cursor: pointer;
}

.right-arrow {
    font-size: 20px;
}

.sub-menu-item-wrapper {
    row-gap: 20px;
    margin-top: 30px;
}

.header-section {
    height: 15vh;
}

.header-inner {
    padding: 0 30px;
}

.header-inner .btn:hover {
    border: 2px solid var(--white-color);
}

.footer-section {
    height: 10vh;
    background-color: #F0F2F5;
}

.footer-inner {
    height: 100%;
}

.profile-image {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    position: relative;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
}

.profile-sub-menu {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 9999;
    width: 200px;
    height: 150px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 6px 21px rgba(21, 3, 89, 0.08);
}

.profile-sub-menu ul {
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    row-gap: 15px;
}

.profile-sub-menu ul li {
    column-gap: 10px;
}

.profile-sub-menu ul li i {
    font-size: 18px;
}

.profile-sub-menu ul li a {
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--body-font-family);
}

.sub-admin-update-password {
    padding: 40px 50px;
    height: 100%;
}

.password-change-form {
    width: 40%;
    row-gap: 20px;
    margin-top: 20px;
}

.password-change-form div {
    display: flex;
    row-gap: 10px;
}

.password-change-form div input {
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--body-font-family);
    background-color: var(--white-color);
    color: var(--gray-color);
    border: 1px solid var(--disable-color);
}

.password-change-form div input:focus {
    border: 1px solid var(--theme-color);
}




.sub-admin-profile-inner {
    padding: 40px 50px;
}

.sub-admin-profile-inner .form {
    gap: 20px;
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.sub-menu-item {
    color: var(--white-color);
}

.sub-menu-item h4 {
    color: var(--white-color);
    font-weight: 500;
}

.menu-item {
    display: none;
    margin-top: 10px;
    margin-left: 25px;
    row-gap: 10px;
}

.menu-item li a {
    font-size: 16px;
    color: var(--white-color);
}







.student {
    padding: 20px 50px;
}

.student h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.student-search-form {
    margin-top: 10px;
}

.student-search-form h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

.student-search-form div {
    width: 20%;
    margin-top: 10px;
}

.student-search-form div input {
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--body-font-family);
    background-color: var(--white-color);
    color: var(--gray-color);
    border: 1px solid var(--disable-color);
}

.student-search-form div input:focus {
    border: 1px solid var(--theme-color);
}

.all-student {
    margin-top: 20px;
    border-top: 1px solid var(--gray-color);
    border-left: 1px solid var(--gray-color);
    border-right: 1px solid var(--gray-color);
    border-radius: 5px;
}

.all-student thead tr {
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px solid var(--gray-color);
}

.all-student thead tr th {
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 0;
    border-right: 1px solid var(--gray-color);
}

.all-student thead tr th:nth-child(5n+5) {
    border-right: 0px;
}

.all-student tbody tr {
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px solid var(--gray-color);
}

.all-student tbody tr td {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    text-align: center;
    padding: 10px 0;
    border-right: 1px solid var(--gray-color);
    color: var(--body-font-color);
}

.all-student tbody tr td:nth-child(5n+5) {
    border-right: 0px;
}

.all-student tbody tr td img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
}

.all-student tbody tr td h4 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--body-font-color);
}

.pagination {
    margin-top: 20px;
}

.step-links a {
    margin-top: 20px;
    max-width: 120px;
    text-align: center;
}



.account-create {
    padding: 20px 30px;
}

.account-create h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.create-form {
    max-width: 60%;
    margin: 20px auto;
    row-gap: 10px;
}

.create-form p {
    display: flex;
    flex-flow: column wrap;
    row-gap: 10px;
    width: 45%;
}

.create-form p label {
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--body-font-family);
}

.create-form p input,
select {
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--body-font-family);
    background-color: var(--white-color);
    color: var(--gray-color);
    border: 1px solid var(--disable-color);
}

.create-form div {
    width: 45%;
}

.create-form div button {
    width: 100%;
    margin-top: 10px;
}


.user_withdrawal-wrapper {
    row-gap: 30px;
    max-width: 80%;
    margin: 50px auto;
}

.user_withdrawal-wrapper h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.user_withdrawal-wrapper h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 10px;
}

.user_withdrawal-form {
    row-gap: 15px;
    padding: 20px 0;
}

.user_withdrawal-form p {
    display: flex;
    flex-flow: column wrap;
    row-gap: 5px;
}

.user_withdrawal-form p label {
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--body-font-family);
}

.user_withdrawal-form p input {
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--body-font-family);
    background-color: var(--white-color);
    color: var(--gray-color);
    border: 1px solid var(--gray-color);
}

.user_withdrawal-form p select {
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--body-font-family);
    color: var(--gray-color);
}

.user_withdrawal-list h3 {
    font-weight: 500;
}

.user_withdrawal-list table {
    border-top: 1px solid var(--gray-color);
    border-left: 1px solid var(--gray-color);
    border-right: 1px solid var(--gray-color);
    border-radius: 5px;
    margin-top: 10px;
}

.user_withdrawal-list table thead {
    border-bottom: 1px solid var(--gray-color);
}

.user_withdrawal-list table thead th {
    border-right: 1px solid var(--gray-color);
}

.pagination {
    margin-top: 10px;
}

.no-withdrawal-list {
    font-size: 1rem;
    font-weight: 500;
}

.withdrawal-list-top {
    grid-template-columns: repeat(5, 1fr);
}

.withdrawal-list-bottom {
    grid-template-columns: repeat(5, 1fr);
}

.withdrawal-list-bottom td {
    text-align: center;
    padding: 10px 5px;
}

.withdrawal-alert {
    text-align: center;
    background-color: #198754;
    color: var(--white-color);
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 55%;
}

.withdrawal-alert p {
    font-size: 17px;
}

.user_withdrawal-list table {}

.user_withdrawal-list table thead tr th {
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 0;
}

.user_withdrawal-list table thead tr th:nth-child(5n+5) {
    border: none;
}

.user_withdrawal-list table tbody {}

.withdrawal-list-bottom td {
    border-right: 1px solid var(--gray-color);
    border-bottom: 1px solid var(--gray-color);
}

.withdrawal-list-bottom td:nth-child(5n+5) {
    border-right: 0px;
}

.step-links {
    row-gap: 10px;
}

.withdrawals-has-previous {
    column-gap: 10px;
}

.sub-admin-form {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 15px;
    margin-top: 20px;
}

.sub-admin-form div {
    display: flex;
    flex-flow: column wrap;
    row-gap: 10px;
    width: 100%;
}

.sub-admin-form p {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    row-gap: 10px;
}

.sub-admin-form p input {
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--body-font-family);
    background-color: var(--white-color);
    color: var(--gray-color);
    border: 1px solid var(--disable-color);
}

@media only screen and (max-width: 499px) {
    .sub-admin-inner {
        grid-template-columns: repeat(1, 1fr);
    }

    .side-bar-sub-admin {
        /* position: fixed;
        background-color: var(--black-color);
        top: 0;
        left: -100%;
        width: 80%;
        height: 100vh;
        z-index: 9999; */
        display: none;
    }

    .sub-admin-side-bar-wrapper {
        background-color: transparent;
    }

    .close-side-bar {
        background-color: var(--white-color);
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: none;
        outline: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .close-side-bar i {
        font-size: 20px;
    }

    .profile-image {
        width: 60px;
        height: 60px;
    }

    .open-side-bar {
        border: none;
        outline: none;
        background-color: transparent;
    }

    .open-side-bar i {
        color: var(--white-color);
        font-size: 28px;
    }

    .footer-inner {
        padding: 0 10px;
        text-align: center;
    }

    .user_withdrawal-list table {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .user_withdrawal-wrapper {
        max-width: 90%;
        margin: 20px auto;
    }

    .withdrawal-alert {
        max-width: 100%;
        margin-top: 10px;
    }

    .pagination {
        margin-top: 15px;
    }

    /* .withdrawal-list-top {
        grid-template-columns: repeat(5, 200px);
    }
    
    .withdrawal-list-bottom {
        grid-template-columns: repeat(5, 200px);
    } */

    .tabel-wrapper {
        overflow: hidden;
        position: relative;
    }

    .student {
        padding: 20px 20px;
    }


    .create-form {
        flex-flow: column wrap;
    }


    .all-student-table {
        overflow-y: hidden;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        width: 400px;
    }

    .all-student-secondary {
        width: 1162px !important;
    }

    .all-student tbody tr td {
        width: 232px !important;
    }
}