{% extends "../../common/base.html" %}
{% load static %}
{% block title %}Forgot Password{% endblock title %}

{% block css_link %}
    <link rel="stylesheet" href="{% static "css/account/forgot_password.css" %}">
{% endblock css_link %}

{% block main_content %}
    <section class="forgot-password-form-section">
        <div class="forgot-password-form-inner">
            <p>Your password has been reset successfully. You can now log in with your new password.
        </div>
    </section>
    <script>
        setTimeout(function(){
            window.location.href = "{% url 'home_page' %}";
        }, 3000);
    </script>
{% endblock main_content %}