{% extends "../../common/base.html" %}
{% load static %}
{% block title %}Forgot Password{% endblock title %}

{% block css_link %}
    <link rel="stylesheet" href="{% static "css/account/forgot_password.css" %}">
{% endblock css_link %}

{% block main_content %}
    <section class="password-reset-section">
        <div class="password-reset-inner">
            <form class="reset-form" method="POST">
                {% csrf_token %}
                {{ form.as_div }}
                <div>
                    <button class="btn reset-password-btn" type="submit">Reset</button>
                </div>
            </form>        
        </div>
    </section>
{% endblock main_content %}