{% extends "../../common/base.html" %}
{% load static %}
{% block title %}Forgot Password{% endblock title %}

{% block css_link %}
    <link rel="stylesheet" href="{% static "css/account/forgot_password.css" %}">
{% endblock css_link %}

{% block main_content %}
    <section class="password_reset_done-section">
        <div class="password_reset_done-inner">
            <p>Password reset link sent to your email. Please check your inbox.</p>
        </div>
    </section>
{% endblock main_content %}