{% extends "../../common/base.html" %}
{% load static %}
{% block title %}Forgot Password{% endblock title %}

{% block css_link %}
    <link rel="stylesheet" href="{% static "css/account/forgot_password.css" %}">
{% endblock css_link %}

{% block main_content %}
<section class="forgot-password-form-section">
    <div class="forgot-password-form-inner">
        {% include "./content.html" %}
        <div class="form-wrapper">
            <div class="form-inner">
                <div class="form-top-bar">
                    <h2>Forgot Password?</h2>
                    <p>Enter the email address you used when you joined and we’ll send you instructions to reset your password. For security reasons, we do NOT store your password. So rest assured that we will never send your password via email.</p>
                </div>
                <form class="form" action="{% url 'password_reset' %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <label>Email :</label>
                        <input type="email" name="email" id="email" placeholder="Type your email" required />
                    </div>
                    <div>
                        <button class="btn reset-password-btn" type="submit">Send</button>
                    </div>
                </form>
                <div>
                    <a class="back-login" href="{% url "user_login" %}">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main_content %}